__pycache__/

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/

.cache

.python-version

# Environments
.env
.venv
venv/

poetry.lock
data/
.ruff_cache/
uv.lock

.logfire/
logs/
.gradio/