__pycache__/

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/

.cache

# Environments
.env
.venv
venv/

poetry.lock
data/
output/

.ruff_cache/
uv.lock

.logfire/
logs/
.gradio/

.DS_Store
.roo/

.vscode/